In [3]:
import pandas as pd
import re
import numpy as np
import seaborn as sns
from CoolProp.HumidAirProp import HAPropsSI
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
df_climat = pd.read_excel('./data/климатология.xlsx', skiprows = 3)

In [5]:
df_climat.head()

,1,2,3,4,5,6,7,8,9,10,...,223,224,225,226,227,228,229,230,231,232
0,1,2,3,4.0,5.0,6.0,7.0,8,9.0,10.0,...,223,224.0,225,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,7,Алтайский край,Алейск,-44.0,-42.0,-41.0,-38.0,-23,-46.0,9.5,...,0,NaN,0,NaN,NaN,82.783332,52.50,NaN,NaN,NaN
2,35,Алтайский край,Барнаул,-44.0,-40.0,-39.0,-36.0,-21,-52.0,9.3,...,0,NaN,36,NaN,NaN,83.749998,53.37,NaN,NaN,NaN
3,45,Алтайский край,Бийск-Зональная,-45.0,-42.0,-41.0,-35.0,-21,-52.0,11.3,...,0,NaN,39,NaN,NaN,85.166668,52.52,NaN,NaN,NaN
4,132,Алтайский край,Змеиногорск,-43.0,-41.0,-40.0,-36.0,-18,-49.0,11.3,...,0,NaN,36,NaN,NaN,82.183332,51.17,NaN,NaN,NaN

In [10]:
d = []
for index, row in df_climat.iterrows():
        try:
                W = HAPropsSI('W','T',row[26]+273.15,'P',101325,'R',row[31]/100)
        except:
                W = np.nan
        d.append(W)
        
df_climat['d'] = d

In [12]:
df_climat['d'].describe()

count    454.000000
mean       0.011659
std        0.001884
min        0.005555
25%        0.010569
50%        0.011587
75%        0.012460
max        0.019162
Name: d, dtype: float64

In [2]:
from mpl_toolkits.basemap import Basemap

ModuleNotFoundError: No module named 'mpl_toolkits.basemap'